:root {
    --header-height: 64px;
}

header {
    background-image: url("../img/hero.jpg");
    min-height: var(--header-height);
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: border-box;
    background-position: center;
    overflow: hidden;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerImage {
    position: absolute;
    display: block;
    width: 140%;

    filter: blur(15px) brightness(0.8) saturate(0.8);

    z-index: 0;
}

header > nav {
    z-index: 1;

    width: 100%;
    max-width: var(--content-width);

    padding-left: var(--content-padding);
    padding-right: var(--content-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > * {
    flex: 1;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 32px;

    color: var(--color-kip-purple);

    -webkit-text-stroke: 3px var(--color-kip-white);
    paint-order: stroke fill;
}

h1 > * {
    vertical-align: middle;
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.firstContentSectionGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: -1;

    background: linear-gradient(to bottom, rgba(15, 15, 15, 1), rgba(15, 15, 15, 0));
}

.navButton {
    background-color: rgba(120, 120, 120, 0.5);
}

.navButton:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.navButton:active {
    background-color: rgba(30, 30, 30, 0.5);
}

.navButton:focus {
    border-color: color-mix(in srgb, var(--color-kip-blue) 90%, transparent 10%);
}

.mainDetailsContainer {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.mainImgContainer {
    position: sticky;
    top: 32px;

    width: 312px;
    max-width: calc(100vw - var(--content-padding) * 2);
    height: 312px;
    max-height: calc(100vw - var(--content-padding) * 2);

    border-radius: 12px;
    background-color: var(--color-kip-purple);
    border-color: var(--color-kip-purple);
    border-width: 6px;
    border-style: solid;
    filter: drop-shadow(0 0 10px var(--color-kip-purple));
}

.mainImgContainer img {
    width: 100%;
    height: 100%;
    max-height: 100%;

    border-radius: 8px;
}

.detailsContainer {
    flex-grow: 1;
    max-width: calc(100vw - var(--content-padding) * 2);
    min-width: min(200px, calc(100vw - var(--content-padding) * 2));
}

.detailsContainer > P {
    word-wrap: break-word;
}

.commissionMoney {
    font-size: 32px;
    color: var(--color-kip-blue);
    -webkit-text-stroke: 3px var(--color-kip-white);
    paint-order: stroke fill;
}

.commissionMoney::before {
    content: "Cost: ";
    color: var(--color-kip-white);
    -webkit-text-stroke: initial;
    margin-right: 12px;
    font-size: 24px;
    font-weight: 100;
}

.commissionSmall {
    margin-top: 8px;

    font-size: 12px;
    font-style: italic;
    color: var(--color-kip-dark4);
}

.commissionSmall::before {
    content: "(";
}

.commissionSmall::after {
    content: ")";
}

@media (max-width: 800px) {
    .navButton > span {
        display: none;
    }

    .navButton {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 50%;
    }

    h1 {
        font-size: 22px;
    }

    .mainImgContainer {
        position: relative;
        top: initial;
    }
}
