@font-face {
    font-family: "Title";
    src: url("./fonts/dynapuff.ttf");
}

@font-face {
    font-family: "Handwritten";
    src: url("./fonts/handwritten.ttf");
}

:root {
    --color-kip-white: #f0f0f0;
    --color-kip-purple: #634f96;
    --color-kip-dark1: #2a2e31;
    --color-kip-dark2: #3d4045;
    --color-kip-dark3: #515467;
    --color-kip-dark4: #747b98;
    --color-kip-blue: #5562ff;
    --color-kip-hotpink: #fe2260;

    --color-brand-discord: #5865f2;
    --color-brand-bluesky: #1083fe;
    --color-brand-instagram: #feda77;
    --color-email: #fe2260;

    --footer-height: 200px;
    --content-width: 1200px;
    --content-padding: 20px;

    color-scheme: dark;
}

::selection {
    color: var(--color-kip-white);
    background-color: var(--color-kip-purple);
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: var(--color-kip-purple) transparent;
}

body {
    margin: 0;

    font-family: "Title";
    color: var(--color-kip-white);

    background-color: var(--color-kip-dark1);
    background-image: url("./img/bg.png");
    min-height: 100vh;
}

body:has(dialog[open]) {
    /* Disables scrolling the body while a dialog modal is open */
    overflow: hidden;
}

a {
    color: var(--color-kip-purple);
}

section {
    display: flex;
    justify-content: center;
    position: relative;
}

h2 {
    font-size: 32px;
    color: var(--color-kip-purple);

    -webkit-text-stroke: 3px var(--color-kip-white);
    paint-order: stroke fill;

    /* Scroll above the header element */
    scroll-margin-top: 120px;
    filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.5));

    padding-top: 36px;
}

hr {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-kip-dark3);

    border-radius: 4px;
    height: 3px;
    background-color: var(--color-kip-purple);

    margin-left: -4px;
    margin-right: -4px;
}

.sectionContent {
    width: 100%;
    max-width: var(--content-width);

    padding-left: var(--content-padding);
    padding-right: var(--content-padding);

    padding-bottom: 48px;
}

.sectionBlack {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
}

main > section:last-child {
    /* Set the minimum height of the last section so the header element can properly be scrolled to the top */
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.iconButton {
    color: var(--color-kip-purple);
    -webkit-text-stroke: 3px var(--color-kip-white);
    paint-order: stroke fill;
    display: inline-block;
    filter: drop-shadow(0 0 10px black);

    transition: transform 0.1s ease;
}

.iconButton:hover {
    transform: scale(1.25);
}

.iconButton:active {
    transform: scale(1.05);
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    padding: 16px;
    border-radius: 12px;
}

button.button {
    font-family: "Title";
}

.button {
    color: var(--color-kip-white);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;

    background-color: rgba(100, 100, 100, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(160, 160, 160, 0.75);
    border-radius: 24px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    backdrop-filter: blur(2px);

    transition: background-color 0.1s ease, transform 0.1s ease;

    cursor: pointer;
}

.button:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

.button:active {
    background-color: rgba(15, 15, 15, 0.5);
    transform: scale(0.975);
}

.button:focus {
    border-color: color-mix(in srgb, var(--color-kip-blue) 90%, transparent 10%);
}

/* #region Footer */

.lastContentSectionGradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: -1;

    background: linear-gradient(to top, rgba(15, 15, 15, 1), rgba(15, 15, 15, 0));
}

footer > section {
    height: var(--footer-height);
}

footer .sectionContent {
    position: relative;
    overflow: hidden;
}

.footerGoober {
    position: absolute;
    width: 150px;
    bottom: -50%;
    right: 0;

    filter: saturate(0.5);
    transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
}

.footerGoober:hover {
    filter: saturate(1);
    transform: translateY(-55%) rotateZ(-2deg);
}

.footerGoober:active {
    filter: saturate(1);
    transform: translateY(-55%) scale(0.9) rotateZ(2deg);
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.footerContent > div {
    flex: 1;
}

.footerLink {
    color: var(--color-kip-white);
    text-decoration: none;

    transition: color 0.1s ease;
}

.footerLink:hover {
    color: var(--color-kip-dark4);
}

.footerLink > i {
    display: inline-block;
    width: 20px;
}

.footerLink > i.fa-discord {
    /* Try and visually align the icon a bit better */
    margin-left: -2px;
    margin-right: 2px;
}

/* #endregion Footer */

/* #region Tooltip */

*[data-tooltip-text] {
    position: relative;
}

*[data-tooltip-text]::before {
    content: attr(data-tooltip-text);
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 10px);
    width: 160px;

    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: "Title";
    font-size: 13px;
    -webkit-text-stroke-width: 0;
    text-align: center;

    background-color: var(--color-kip-dark1);
    color: var(--color-kip-white);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    border-radius: 12px;

    display: none;

    animation-name: tooltip-in-anim;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

*[data-tooltip-text]::after {
    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% - 8px);

    border: 10px solid var(--color-kip-dark1);
    border-color: var(--color-kip-dark1) transparent transparent transparent;

    display: none;

    animation-name: tooltip-in-anim;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

*[data-tooltip-text]:hover::before,
*[data-tooltip-text]:hover::after,
*[data-tooltip-text]:focus::before,
*[data-tooltip-text]:focus::after {
    display: block;

    pointer-events: none;
}

@keyframes tooltip-in-anim {
    0% {
        transform: translateX(-50%) translateY(32px) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%);
        opacity: 1;
    }
}

/* #endregion Tooltip */
