.gallery {
    position: relative;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    gap: 16px;

    width: 100%;

    justify-content: center;
}

.gallery.closed .galleryContainer {
    max-height: 400px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    pointer-events: none;
}

.galleryClosedOverlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    padding-bottom: 32px;

    display: none;
    justify-content: center;
    align-items: end;
}

.gallery.closed .galleryClosedOverlay {
    display: flex;
}

.galleryImageContainer {
    grid-column: span 2;
    grid-row: span 2;

    overflow: hidden;

    box-sizing: border-box;
    border-width: 4px;
    border-color: var(--color-kip-dark4);
    border-style: solid;
    border-radius: 8px;
    background-color: var(--color-kip-dark2);

    position: relative;
}

.galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    display: block;
    cursor: pointer;

    transition: transform 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);

    box-shadow: inset 0 0 10px color-mix(in srgb, var(--color-kip-purple) 80%, transparent 20%);

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.galleryImageContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateY(100%);

    background-color: color-mix(in srgb, var(--color-kip-dark1) 60%, transparent 20%);
    backdrop-filter: blur(6px);

    font-size: 12px;
    padding: 8px;

    transition: transform 0.1s ease;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.galleryImageContainer:hover .galleryImageContent {
    transform: translateY(0);
}

.galleryImageContainer:hover .galleryImage {
    transform: scale(1.05);
}

.galleryImagePeople {
    display: flex;
    gap: 8px;
}

.galleryMasonry {
    display: none;

    margin-left: calc(var(--content-padding) * -1 + 3px);
    margin-right: calc(var(--content-padding) * -1 + 3px);

    overflow: hidden;
    border-radius: 12px;

    position: relative;
}

.galleryMasonryLoading {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: center;
    gap: 12px;
}

.galleryMasonryLoading > img {
    width: 32px;
}

.masonrySizer,
.masonryItem {
    width: calc(33.333% - 3px);
}

.masonryItem {
    float: left;
    margin-bottom: 3px;
}

.masonryItem img {
    display: block;
    max-width: 100%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .galleryContainer {
        display: none;
    }

    .galleryClosedOverlay {
        display: none !important;
    }

    .galleryMasonryLoading {
        display: flex;
    }

    .galleryMasonry {
        display: block;
    }

    .galleryMasonry.loading {
        display: none;
    }
}

@keyframes gallery-lazy-load-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.galleryDialog {
    background: none;
    border: none;
}

.galleryDialog > img {
    display: block;
    max-width: calc(100vw - 96px);
    max-height: calc(100vh - 96px);
    border-radius: 16px;
}

.galleryDialog > div {
    position: absolute;
    bottom: 48px;
    width: min(60vw, 500px, 90%);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 24px;
    filter: drop-shadow(0 0 6px black);
    text-align: center;

    left: 50%;
    transform: translateX(-50%);
}

.galleryDialog > .dialogButton {
    position: absolute;

    width: 47px;
    height: 47px;
    padding: 8px;

    border-style: solid;
    border-color: var(--color-kip-dark3);
    border-width: 1px;
    border-radius: 50%;

    color: var(--color-kip-white);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 6px black);

    cursor: pointer;

    transition: background-color 0.1s ease, color 0.1s ease, filter 0.1s ease, border 0.1s ease,
        transform 0.1s ease;
}

.galleryDialog > .dialogButton:hover {
    background-color: var(--color-kip-white);
    color: var(--color-kip-dark1);
    filter: drop-shadow(0 0 10px var(--color-kip-purple));
    border-color: var(--color-kip-white);
}

.galleryDialog > .dialogButton:active {
    transform: scale(0.9);
}

.galleryDialog > .closeButton {
    top: 24px;
    right: 24px;
}

.galleryDialog > .nextButton {
    right: 24px;
    top: calc(50% - 23px);
}

.galleryDialog > .prevButton {
    left: 24px;
    top: calc(50% - 23px);
}

@media (max-width: 800px) {
    .galleryDialog {
        padding: 0;
        overflow: visible;
        margin-left: 8px;
        margin-right: 8px;
    }

    .galleryDialog > img {
        max-width: calc(100vw - 16px);
        max-height: calc(100vh - 4px);
    }

    .galleryDialog > div {
        bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .galleryDialog > .closeButton {
        top: 8px;
        right: 8px;
    }
}
