/* #region Common */

:root {
    --header-height: 54px;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 12px;
    z-index: 1000;
    height: var(--header-height);
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    backdrop-filter: blur(10px);
}

nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    gap: 24px;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    -webkit-text-stroke: 3px transparent;
    color: var(--color-kip-white);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    filter: drop-shadow(0 0 10px black);

    transition: color 0.1s ease;
}

nav > ul > li:hover > a {
    color: color-mix(in srgb, var(--color-kip-white) 50%, transparent 50%);
}

nav > ul > li > a > span {
    display: inline-block;
    transition: transform 0.1s ease, filter 0.1s ease;
}

nav > ul > li:hover > a > span {
    transform: translateY(-4px);
    filter: drop-shadow(0 10px 2px black);
}

nav > ul > li.active > a {
    color: var(--color-kip-purple);

    -webkit-text-stroke: 3px var(--color-kip-white);
    paint-order: stroke fill;
}

nav > ul > li.active:hover > a {
    color: color-mix(in srgb, var(--color-kip-purple) 50%, transparent 50%);
}

@media (max-width: 800px) {
    nav {
        display: none;
    }
}

/* #endregion Common */

/* #region Hero/Home */

.heroSection {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.heroContainer {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background: url("./img/hero.jpg");
}

.heroImage {
    /* Overlap the bounds of the container a little so blurred edges don't look weird. */
    width: 108%;
    margin-left: -4%;
    height: 100%;
    object-fit: cover;

    filter: brightness(0.8) saturate(0.8) blur(2px);

    user-select: none;
}

.heroContent {
    position: relative;

    height: 100%;
    font-size: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 0;
}

.mainHeading {
    text-align: center;
    font-size: 52px;
    -webkit-text-stroke: 6px var(--color-kip-purple);
    paint-order: stroke fill;

    filter: drop-shadow(0 0 10px black);
}

.subHeading {
    text-align: center;
    margin-top: 8px;
}

.heroSocialButtons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.heroSocialButtons a i {
    transition: color 0.25s ease, -webkit-text-stroke 0.25s ease;
}

.heroSocialButtons a:hover i.fa-bluesky {
    color: var(--color-brand-bluesky);
}

.heroSocialButtons a:hover i.fa-discord {
    color: var(--color-brand-discord);
}

.heroSocialButtons a:hover i.bi-instagram {
    color: var(--color-brand-instagram);
    -webkit-text-stroke-color: var(--color-kip-dark4);
}

.heroSocialButtons a:hover i.bi-envelope-fill {
    color: var(--color-email);
}

.heroMarks {
    display: flex;
    flex-direction: column;
}

.heroMark {
    height: 24px;
    margin-top: 6px;

    filter: drop-shadow(0 0 4px var(--color-kip-dark1));

    animation-name: mark-anim;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.heroMarks.right {
    transform: rotateZ(-90deg);
}

.heroMarks.left {
    transform: rotateZ(90deg);
}

.heroMark:nth-child(1) {
    animation-delay: 0.25s;
}

.heroMark:nth-child(2) {
    animation-delay: 0.5s;
}

.heroMark:nth-child(3) {
    animation-delay: 0.75s;
}

@keyframes mark-anim {
    0% {
        transform: none;
        opacity: 0;
    }

    33% {
        transform: translateY(-50%);
        opacity: 0;
    }

    66% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(50%);
        opacity: 0;
    }
}

@media (max-width: 800px) {
    .mainHeading {
        font-size: 38px;
    }

    .subHeading {
        font-size: 20px;
    }
}

/* #endregion Hero/Home */

/* #region Commissions */

.firstContentSectionGradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: -1;

    background: linear-gradient(to bottom, rgba(15, 15, 15, 1), rgba(15, 15, 15, 0));
}

.commissionSlates {
    display: flex;
    gap: 48px;

    max-width: 100%;

    overflow-x: auto;

    padding-left: 32px;
    padding-right: 32px;

    padding-top: 56px;
    padding-bottom: 32px;
    margin-bottom: 32px;

    scrollbar-width: thin;
    scrollbar-color: var(--color-kip-dark3) transparent;
}

.commissionSlate {
    position: relative;
    width: 320px;
    max-width: calc(100vw - 64px);
    min-height: 600px;

    flex-shrink: 0;

    transition: transform 0.1s ease;

    cursor: pointer;
}

.commissionSlate.active {
    cursor: default;
}

.commissionSlate:hover {
    transform: scale(1.01) translateY(-16px);
}

.commissionSlate:hover .commissionSlateBackground,
.commissionSlate.active .commissionSlateBackground {
    background-color: color-mix(in srgb, var(--color-kip-hotpink) 75%, transparent 25%);
}

.commissionSlateBackground {
    z-index: 0;
    position: absolute;
    height: 600px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 0.5) 70%,
        rgba(0, 0, 0, 0) 100%
    );

    backdrop-filter: blur(10px);
    transition: background-color 0.1s ease;
}

.commissionSlateContent {
    position: relative;
    z-index: 1;
}

.commissionSlateContent > img {
    display: block;
    width: 400px;
    height: 400px;
    margin-left: -40px;
    margin-top: -40px;

    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.75));
}

.commissionTitle {
    text-align: center;

    filter: drop-shadow(0 0 8px black);

    font-size: 28px;
    color: var(--color-kip-white);
    -webkit-text-stroke: 2px var(--color-kip-dark1);
    paint-order: stroke fill;
}

.commissionPrices {
    margin-top: 12px;

    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;

    display: inline-flex;
    flex-direction: column;
    align-items: end;
}

.commissionPrices > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.commissionPrices .priceName {
    font-size: 20px;
    text-align: center;

    color: var(--color-kip-white);
    -webkit-text-stroke: 1px var(--color-kip-dark1);
    paint-order: stroke fill;
}

.commissionPrices .priceAmount {
    font-size: 40px;

    display: inline-block;
    padding-left: 8px;

    color: var(--color-kip-blue);
    -webkit-text-stroke: 3px var(--color-kip-white);
    paint-order: stroke fill;
}

.commissionPrices .priceName small {
    font-size: 12px;
    color: var(--color-kip-dark4);
    -webkit-text-stroke: 1px var(--color-kip-dark1);
}

.commissionDetailsDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
}

.commissionDetailsDialog {
    background-color: var(--color-kip-dark1);
    border-radius: 12px;
    color: var(--color-kip-white);
    border: none;

    min-height: 600px;
    width: 100%;
    max-width: min(var(--content-width), 90vw);
    padding: 16px;
}

.commissionDetailsDialogContent {
    position: relative;
}

.commissionDetailsDialog[open] .commissionDetailsDialogContent {
    display: flex;
    gap: 24px;
}

#commissionDetailsDialogSlateTarget > div {
    margin-top: 40px;

    animation-name: dialog-slate-anim-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.commissionDetails {
    flex-grow: 1;
}

.commissionDetails h2 {
    margin: 0;
    padding: 0;
}

.commissionDetailsDialogControls {
    top: -16px;
    right: 10px;
    position: absolute;

    z-index: 100;
}

.closeDialogButton {
    border-color: var(--color-kip-white);
    background-color: color-mix(in srgb, var(--color-kip-dark1) 75%, transparent 25%);
    backdrop-filter: blur(4px);
    color: var(--color-kip-white);
    cursor: pointer;
    font-family: "Title";

    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;

    transition: padding 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

.closeDialogButton:hover {
    background-color: var(--color-kip-white);
    color: var(--color-kip-dark1);
}

.closeDialogButton:active {
    padding-top: 12px;
}

@keyframes dialog-slate-anim-in {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

.commissionDetails h3 {
    font-size: 28px;
    margin-bottom: 24px;
    margin-top: 40px;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

.commissionDetails h3::after {
    content: "";
    position: absolute;
    left: auto;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    border-top-color: var(--color-kip-dark4);
    border-top-style: dotted;
    border-top-width: 4px;

    bottom: calc(1rem - 2px);
}

.commissionSteps {
    position: relative;
}

.commissionSteps::before {
    content: "";
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 30px;

    border-left-style: dotted;
    border-left-width: 4px;
    border-color: var(--color-kip-dark4);

    z-index: 0;
}

.commissionStep {
    position: relative;
    z-index: 1;

    display: flex;
    margin-bottom: 24px;

    align-items: start;
}

.commissionStep > i.bi {
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #0b0c0c;
    color: var(--color-kip-hotpink);
}

.commissionStep p {
    margin: 0;
    margin-bottom: 4px;
    color: var(--color-kip-dark4);
}

.commissionStep a.button {
    font-size: 16px;
}

.commissionStep h4 {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 0;
    font-size: 24px;
}

.commissionStepContact {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.dodonttable {
    border-collapse: collapse;
}

.dodonttable th {
    font-size: 20px;
    padding-bottom: 4px;
}

.dodonttable thead tr th {
    border-bottom: 2px solid var(--color-kip-white);
}

.dodonttable tbody tr > td:first-child {
    border-right: 2px solid var(--color-kip-white);
}

.dodonttable td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.dodonttable small {
    color: var(--color-kip-dark4);
}

@media (min-width: 800px) {
    .commissionDetailsDialog {
        box-sizing: border-box;
        max-height: min(800px, 95vh);
        min-height: min(600px, 100vh);
    }

    .commissionDetailsDialogContent {
        max-height: min(800px - 32px, 95vh);
        min-height: min(600px - 32px, 100vh);
    }

    .commissionDetails {
        position: relative;
        max-height: calc(100% - 80px);
        overflow: auto;
    }

    .commissionDetailsHeader {
        position: sticky;
        z-index: 100;
        top: -16px;
        background-color: #0b0c0c;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: -2px;
    }

    .commissionDetailsHeader::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px;
        height: 16px;
        background: linear-gradient(to bottom, #0b0c0c, transparent);
    }
}

@media (max-width: 800px) {
    .commissionTitle {
        font-size: 20px;
    }

    .commissionSlates {
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .commissionSlate {
        max-width: calc(100vw - 32px);
    }
    .commissionSlateContent > img {
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        margin: 0;
    }

    .commissionDetailsDialog {
        margin: 0;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        box-sizing: border-box;
        border-radius: 0;
    }

    .commissionDetailsDialogContent {
        flex-direction: column;
        align-items: center;
    }
}

/* #endregion Commissions */
